*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color_main-bgrond;
  font-family: "TT Lakes Regular", sans-serif;

  min-width: 320px;
  overflow-x: hidden;
}

.container-main {
  max-width: 1120px;
  margin: 0 auto;
}

Мне сказали "иди на хуй".
 Приведи 10 ответов таких как :
"Хуй не дорожка, соси по немножку"

// .container {
//   max-width: 1440px;
//   margin: 0 auto;
// }
