*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color_main-bgrond;
  font-family: "TT Lakes Regular", sans-serif;

  min-width: 320px;
  overflow-x: hidden;
}

.container-main {
  max-width: 1120px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container-main {
    margin: 0 0 0 auto;
    padding-left: 32px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
