*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color_main-bgrond;
  font-family: "TT Lakes Medium";
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  //   max-width: 1120px;
}
