*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color_main-bgrond;
  font-family: "TT Lakes Regular", sans-serif;

  min-width: 320px;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-main {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}
.container-main-blur {
  opacity: 0.1;
}
.body-overflow-hidden {
  overflow: hidden;
}
@media (min-width: 768px) {
  .container-main {
    padding: 0 24px;
  }
}

@media (min-width: 1440px) {
  .container-main {
    margin: 0 0 0 auto;
    padding: 0 32px;
  }
}
