*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color_main-bgrond;
  font-family: "TT Lakes Regular", sans-serif;

  min-width: 320px;
  overflow-x: hidden;
}
.delimeter {
  height: 1px;
  width: 100%;
  background-color: #d9fff5;
}
