$color_sub-main: #ffffff;
$color_main-bgrond: #f8f8f8;
$color_btn-red: #ff3e79;
$color_decoration-grey: #eaeaea;
$color_decoration-green: #41f6d7;
$color_text-main: #1b1c21;
$color_text-regular: #7e7e82;
$color_border-green: #b8ffec;
$color_bground-pagination: #b5b6bc;

$breakpoint_tablet: 768px;
$breakpoint_desktop: 1440px;
