.main {
  &__repair-btn {
    .img {
      min-width: 40px;
      min-height: 40px;
      background: url("../images/nav/repair.svg");
    }
  }
  &__checkstatus-btn {
    .img {
      min-width: 40px;
      min-height: 40px;

      background: url("../images/nav/checkstatus.svg");
    }
  }

  &__icons-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  &__icons {
    display: none;
  }
  &__h1-wrapper {
    // border: 1px solid black;
    position: relative;
    margin-top: 24px;
  }
  &__highlight {
    background-color: #41f6d7;
    width: 8px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    left: -20px;
    // transform: translate(-26px, 0);
  }
  &__h1 {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    text-align: left;
  }
  &__slide-menu {
    margin-top: 24px;
    // display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      background-color: $color_main-bgrond;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      padding-right: 9px;
      border: 2px solid $color_main-bgrond;
      // border: 2px solid black;

      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #7e7e82;
      &--hide {
        display: none;
      }
      &:hover {
        border: 2px solid #b8ffec;
        border-radius: 6px;
      }
    }
  }

  &__next-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
  }

  &__next-arrows {
    min-width: 18px;
    min-height: 28px;

    transition: transform 0.3s ease;
    background: url("../images/expand.svg");
  }
  &__next {
    color: #1b1c21;
    background-color: $color_main-bgrond;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border: none;
    cursor: pointer;
  }
  &__picture {
    // margin-top: 16px;
    width: 100%;
  }
  .info {
    &__text {
      font-size: 14px;
      color: #1b1c21;
    }
    &__p2,
    &__p3 {
      display: none;
    }
  }
}
