@media (min-width: $breakpoint-tablet) {
  .main {
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 48px;
      &__text {
        align-self: flex-start;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .main {
    &__highlight {
      left: -28px;
    }
    &__picture {
      border-radius: 5px;
      width: 360px;
    }
    .info {
      background-color: lightpink;
      gap: 48px;
      &__p2 {
        display: block;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .main {
    &__services {
      margin-top: 42px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    &__slide-menu {
      display: flex;
      // width: 1050px;
      // width: 1050px;
      // width: 100%;
      flex-wrap: wrap;
    }
    &__h1-wrapper {
      margin: 0;
    }
    &__highlight {
      left: -36px;
      top: 15px;
    }
    &__icons {
      display: flex;
      gap: 32px;
      font-weight: bold;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: #1b1c21;
      }
    }
    &__picture {
      width: 530px;
    }
    // Если вынести info за пределы main,
    // то его перетрет более специфичный,
    // тот который находится в main
    .info {
      background-color: lightblue;
      &__p1,
      &__p3 {
        display: block;
      }
      &__p2 {
        display: none;
      }
    }
  }
}
