.aside {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  font-size: 16px;
  line-height: 24px;

  visibility: hidden;
  // display: none;
}
