@media (min-width: $breakpoint-tablet) {
}

@media (min-width: $breakpoint-desktop) {
  .aside {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    position: fixed;
    top: 0;
    padding: 24px 24px 0 24px;
    box-shadow: 16px 0px 52px 10px rgba(14, 24, 80, 0.2),
      -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    background-color: $color_sub-main;
    overflow: hidden;
  }
}
