.brands {
  overflow: hidden;
  &__title-wrapper {
    text-transform: uppercase;
    padding: 15px 16px;
    background: linear-gradient(270deg, #fff 0%, #f8f8f8 100%);
  }
  &__title-text {
    font-family: "TT Lakes", sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #7e7e82;
  }

  &__container {
    display: flex;
    /* БУДЕТ ВИДЕН ТОЛЬКО ПЕРВЫЙ СЛАЙД. */
    /* ТАК НЕ ДЕЛАТЬ */

    /* overflow: hidden; */
  }
  .repair-container {
    // display: flex;
  }
  .prices-container {
    display: flex;
    flex-direction: column;
  }
  &__item {
    justify-content: space-between;
    max-width: 240px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    // background-color: #7e7e82;
    padding: 12px 16px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    margin-top: 16px;

    width: 240px;
    height: 72px;
  }
  &__img {
    max-width: 128px;
    max-height: 44px;
  }

  &__link {
    display: inline-block;
    background: url("../images/go.svg");
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .swiper-slide {
    display: flex;
  }
  .swiper-pagination {
    position: static;
  }
  .btn-wrapper {
    display: none;
  }
}
