@media (min-width: 768px) {
  .extra-info {
    &__paragraph {
      max-width: 421px;
    }
    &__link {
      width: 292px;
      &::after {
        top: -2px;
        left: 289px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
}
@media (min-width: 1120px) {
}
