@media (min-width: 768px) {
  .prices {
    .header-row {
      padding: 0 16px;
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      // background-color: #7e7e82;
      padding: 12px 16px;
      border-radius: 6px;
      margin-top: 16px;

      // border: 1px solid black;
      // width: 720px;
      color: #7e7e82;
      font-size: 14px;
      li {
        flex-shrink: 0;
        flex-grow: 0;
      }
      &__text1 {
        flex-basis: 348px;
        margin-right: 24px;
      }
      &__text2 {
        flex-basis: 74px;
        margin-right: 22px;
      }
      &__text3 {
        flex-basis: 81px;
      }
    }

    &__item.swiper-slide {
      min-width: 100%;
      height: 64px;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &__services {
      flex-grow: 1;
      flex-basis: 348px;
      margin-right: 24px;
      letter-spacing: 0.1px;
    }
    &__quantity {
      flex-basis: 74px;
      margin-right: 22px;
    }
    &__time {
      flex-basis: 81px;
      // white-space: nowrap;
      // overflow: hidden;
      margin-right: 20px;
    }
    &__services,
    &__quantity,
    &__time {
      &::before {
        display: none;
      }
    }

    &__btn {
      position: static;
      span {
        &::after {
          right: 20px;
        }
      }
    }
    .prices-container {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
}
@media (min-width: 1440px) {
  .prices__item {
    gap: 120px;
  }
}
