@media (min-width: 768px) {
  .prices {
    * {
      font-size: 14px;
      border: 1px solid black;
    }
    .header-row {
      padding: 0 16px;
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      // background-color: #7e7e82;
      padding: 12px 16px;
      border-radius: 6px;
      margin-top: 16px;

      border: 1px solid black;
      // width: 720px;

      gap: 61px;
      color: #7e7e82;
      font-size: 14px;
      &__text1 {
        width: 348px;
      }
    }

    &__item.swiper-slide {
      width: 720px;
      height: 64px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &__services {
      min-width: 348px;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 24px;
      letter-spacing: 0.1px;
    }
    &__quantity {
      width: 74px;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 44px;
    }
    &__time {
      width: 81px;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 20px;
    }
    &__services,
    &__quantity,
    &__time {
      &::before {
        display: none;
      }
    }

    &__btn {
      position: static;
      span {
        &::after {
          right: 20px;
        }
      }
    }
    .prices-container {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
}
@media (min-width: 1120px) {
}
