@media (min-width: 768px) {
  .prices {
    .title-price {
      display: flex;
      padding-left: 16px;
      padding-right: 155px;
      padding-top: 31px;
      gap: 25px;
      color: #7e7e82;
      font-size: 14px;
      font-family: "TT Lakes Medium", sans-serif;

      list-style-type: none;

      &__text1 {
        flex-grow: 1;
      }
      &__text2 {
        flex-basis: 74px;
      }
      &__text3 {
        flex-basis: 81px;
      }
    }

    &__item.swiper-slide {
      min-width: 100%;
      height: 64px;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &__services {
      flex-grow: 1;
      flex-basis: 348px;
      margin-right: 24px;
      letter-spacing: 0.1px;
    }
    &__quantity {
      flex-basis: 74px;
      margin-right: 22px;
    }
    &__time {
      flex-basis: 81px;
      // white-space: nowrap;
      // overflow: hidden;
      margin-right: 20px;
    }
    &__services,
    &__quantity,
    &__time {
      &::before {
        display: none;
      }
    }

    &__btn {
      position: static;
      span {
        &::after {
          right: 20px;
        }
      }
    }
    .prices-container {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
}
@media (min-width: 1440px) {
  .prices {
    .title-price {
      display: flex;
      padding-left: 16px;
      padding-right: 268px;
      padding-top: 31px;
      gap: 143px;
      color: #7e7e82;
      font-size: 14px;
      font-family: "TT Lakes Medium", sans-serif;

      // padding: 0 16px;
      list-style-type: none;
    }
  }
  .prices__item {
    gap: 120px;
  }
}
