@media (min-width: 768px) {
  .prices {
    .header-row {
      // margin: 0;
      padding: 0;
      border: 1px solid black;
      width: 720px;
      list-style-type: none;
      display: flex;
      // padding-left: 40px;
      // padding-right: 225px;
      // padding-top: 31px;
      gap: 61px;
      color: #7e7e82;
      font-size: 14px;
    }

    &__item.swiper-slide {
      width: 720px;
      height: 64px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    &__services {
      width: 348px;
    }
    &__services,
    &__quantity,
    &__time {
      &::before {
        display: none;
      }
    }

    &__btn {
      position: static;
      span {
        &::after {
          right: 20px;
        }
      }
    }
    .prices-container {
      display: flex;
      flex-direction: column;
    }
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
}
@media (min-width: 1120px) {
}
