.info {
  &__btn-wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__btn-arrows {
    min-width: 24px;
    min-height: 24px;

    transition: transform 0.3s ease;
    background: url("../images/expand.svg");
    background-repeat: no-repeat;
  }
  &__btn {
    color: #1b1c21;
    background-color: $color_main-bgrond;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border: none;
    cursor: pointer;
    position: relative;
  }
  &__picture {
    margin-top: 16px;
    width: 100%;
  }
  &__text {
    font-size: 14px;
    color: #1b1c21;
  }
  &__p2,
  &__p3,
  &__p4 {
    display: none;
  }
  .rotate {
    transform: rotate(180deg);
  }
}
