@media (min-width: $breakpoint-tablet) {
  .info {
    display: flex;
    gap: 48px;
    &__text {
      color: #1b1c21;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.2px;
      max-width: 312px;
      align-self: flex-start;
    }
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
  .info {
    gap: 48px;
    &__p2 {
      display: block;
    }
    &__picture {
      border-radius: 5px;
      max-height: 208px;
      max-width: 360px;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .info {
    &__p1,
    &__p3 {
      display: block;
    }
    &__p2 {
      display: none;
    }
    &__text {
      max-width: 490px;
      align-self: flex-start;
    }
    &__picture {
      height: 383px;
      width: 530px;
    }
  }
}
