.modal {
  position: fixed;
  z-index: 1000;
  &__container {
    display: none;
    background-color: $color_sub-main;
    height: 100vh;
  }
  &__button-close {
    padding-top: 24px;
    padding-left: 16px;
    margin-bottom: 40px;
  }
  &__title {
    font-family: TT Lakes Bold;
    font-size: 24px;
    padding-left: 15px;
    position: relative;
    margin-bottom: 24px;
  }
  &__title::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 30px;
    background: $color_decoration-green;
    left: 0;
    border-radius: 6px;
  }
  &__input {
    margin: 0 16px 16px 16px;
    border: 1px solid $color_decoration-grey;
    border-radius: 8px;
    padding: 16px 12px 16px 16px;
    width: 288px;

    color: #b5b6bc;
  }

  ::placeholder {
    font-family: TT Lakes Medium;
    font-size: 16px;
    color: #b5b6bc;
  }
  &__text {
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
    width: 288px;
    height: 64px;
    margin-left: 16px;
    margin-bottom: 19px;

    span {
      color: #ff3e79;
    }
  }
  .btn-order {
    margin: 0 16px 75px auto;
  }
  &__zone-close {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 320px;
    display: none;
  }
}
.feedback-open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  .modal__zone-close {
    display: block;
    right: 408px;
  }
}
