@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 32px;
    margin-bottom: 25px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 218px;
    }
    &__p3 {
      margin-left: 35px;
      margin-right: 40px;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 214px;
    }
    &__p4 {
      margin: 0;
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 213px;
      text-align: end;
    }
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
}
@media (min-width: 1120px) {
}
