.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #7e7e82;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114 .286% */
  padding-top: 16px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__p1,
  &__p3 {
    margin: 0;
    margin: 0;
  }
}
