@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // margin-top: 57px;
    // color: #7e7e82;
    // text-align: center;
    // font-size: 14px;
    // font-style: normal;
    // font-weight: 500;
    // line-height: 16px; /* 114.286% */
    &__container {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 218px;
    }
    &__p3 {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 214px;
    }
    &__p4 {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 213px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
}
@media (min-width: 1120px) {
}
