.footer {
  margin-top: 57px;
  color: #7e7e82;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  &__p1 {
  }
  &__p2 {
  }
  &__p3 {
  }
  &__p4 {
  }
}
