@import "./common/fonts.scss";
@import "./common/vars.scss";
@import "./common/normalize.scss";

@import "./header/index.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $color_main-bgrond;
  font-family: "TT Lakes Medium";
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  &__repair-btn {
    .img {
      min-width: 40px;
      min-height: 40px;
      background: url("../images/nav/repair.svg");
    }
  }
  &__checkstatus-btn {
    .img {
      min-width: 40px;
      min-height: 40px;

      background: url("../images/nav/checkstatus.svg");
    }
  }

  &__icons-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  &__icons {
    display: none;
  }
  &__h1-wrapper {
    // border: 1px solid black;
    position: relative;
    margin-top: 24px;
  }
  &__highlight {
    background-color: #41f6d7;
    width: 8px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    left: -20px;
    // transform: translate(-26px, 0);
  }
  &__h1 {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    text-align: left;
  }
  &__slide-menu {
    margin-top: 24px;
    // display: flex;
    white-space: nowrap;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      background-color: $color_main-bgrond;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      padding-right: 9px;
      border: 2px solid $color_main-bgrond;
      // border: 2px solid black;

      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #7e7e82;
      &--hide {
        display: none;
      }
      &:hover {
        border: 2px solid #b8ffec;
        border-radius: 6px;
      }
    }
  }

  &__bottom-left {
    .descr {
      font-size: 14px;
      color: #1b1c21;
      margin-bottom: 16px;
      &--hide-mobile {
        display: none;
      }
      &--show-mobile {
        display: inline-block;
      }
    }
  }
  // &__arrows {
  //   margin-right: 8px;
  // }

  &__next-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__next-arrows {
    // border: 1px solid black;
    margin-left: calc(24px - 7px);
    min-width: 7.4px;
    min-height: 10.3px;
    display: inline-block;
    background: url("/images/arrows.png");
    background-repeat: no-repeat;
  }
  &__next {
    border: 1px solid black;

    // height: 30px;
    // margin-top: 16px;
    font-size: 16px;
    color: #1b1c21;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;

    font-weight: bold;
    position: relative;
    // border: 1px solid black;
    // margin-left: 2rem;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: -2rem;
    //   width: 40px;
    //   height: 100%;
    //   background: url("../images/arrows.png");
    //   background-repeat: no-repeat;
    // }
  }
  &__picture {
    margin-top: 16px;
    width: 100%;
    // height: 230px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768;
    padding: 0 24px;
  }

  .main {
    position: static;

    &__highlight {
      left: -28px;
    }

    &__bottom-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 48px;
    }

    &__picture {
      border-radius: 5px;
      width: 360px;
    }
    &__bottom-left {
      .descr {
        &--hide-tablet {
          display: none;
        }
        &--show-tablet {
          display: inline-block;
        }
      }
    }
  }
}
@media (min-width: 1120px) {
  .container {
    max-width: 1120px;
    // margin: 0 auto;
    padding: 0 32px;
  }

  .main {
    position: static;

    &__services {
      margin-top: 42px;
      padding-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    &__slide-menu {
      display: flex;
      // width: 1050px;
      // width: 1050px;
      // width: 100%;
      flex-wrap: wrap;
    }
    &__h1-wrapper {
      margin: 0;
    }
    &__highlight {
      left: -36px;
    }
    &__icons {
      display: flex;
      gap: 32px;
      font-weight: bold;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: #1b1c21;
      }
    }
    &__picture {
      width: 530px;
    }

    &__bottom-left {
      margin-bottom: 3.5rem;
      .descr {
        &--hide-desktop {
          display: none;
        }
        &--show-desktop {
          display: inline-block;
        }
      }
    }
  }
}
