@import "./common/normalize.scss";
@import "./common/fonts.scss";
@import "./common/vars.scss";
@import "./common/global.scss";

@import "./header/index.scss";
@import "./main/index.scss";
@import "./brands/index.scss";
@import "./repair/index.scss";
@import "./prices/index.scss";
@import "./extra-info/index.scss";
@import "./footer/index.scss";

@media (min-width: 768px) {
  .container {
    max-width: 768;
    padding: 0 24px;
  }
}
@media (min-width: 1120px) {
  .container {
    max-width: 1120px;
    // margin: 0 auto;
    padding: 0 32px;
  }
}
