@import "./common/normalize.scss";
@import "./common/fonts.scss";
@import "./common/vars.scss";
@import "./common/global.scss";

@import "./header/index.scss";
@import "./main/index.scss";
@import "./info/index.scss";
@import "./brands/index.scss";
@import "./repair/index.scss";
@import "./prices/index.scss";
@import "./extra-info/index.scss";
@import "./footer/index.scss";
@import "./aside/index.scss";

.container {
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1120px) {
  .container {
    max-width: 1120px;
    padding: 0 32px;
  }
}
